@import "compass/css3";
@import "compass/utilities";


$color_blue: #2A67B2;
$color_blue_dark: #1c4578;
$color_blue_darker: #16355d;
$color_blue_light: #aad4ef;
$color_light: #f7f7f7;
$color_medium_light: #c6c6c6;


//---------------------------------------------------------------------------------------------------

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  color: white;
  text-decoration: none !important;
}

button {
  background: none;
  border: none;
}

p {
  text-align: justify;
}

.section {
  height: 100vh !important;
}

.footer_overlay_hidden {
  opacity: 0;
  transform: translateX(400px);
}

.footer_overlay_visible {
  opacity: 1;
  transform: translateX(0px);
}

.btcf:after {
  content:"";
  display:table;
  clear:both;
}

.opacity_0 {
  opacity: 0;
  transform: translateY(100px);
}

.opacity_1 {
  opacity: 1;
  transform: translateX(0);
}

.add_bg {
  background: rgba($color_blue, .9);
}

.add_bg_w {
  background: white;
}

.fp-tableCell {
  padding: 0;
}