/* line 15, ../sass/_imports.scss */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  color: white;
  text-decoration: none !important;
}

/* line 23, ../sass/_imports.scss */
button {
  background: none;
  border: none;
}

/* line 28, ../sass/_imports.scss */
p {
  text-align: justify;
}

/* line 32, ../sass/_imports.scss */
.section {
  height: 100vh !important;
}

/* line 36, ../sass/_imports.scss */
.footer_overlay_hidden {
  opacity: 0;
  transform: translateX(400px);
}

/* line 41, ../sass/_imports.scss */
.footer_overlay_visible {
  opacity: 1;
  transform: translateX(0px);
}

/* line 46, ../sass/_imports.scss */
.btcf:after {
  content: "";
  display: table;
  clear: both;
}

/* line 52, ../sass/_imports.scss */
.opacity_0 {
  opacity: 0;
  transform: translateY(100px);
}

/* line 57, ../sass/_imports.scss */
.opacity_1 {
  opacity: 1;
  transform: translateX(0);
}

/* line 62, ../sass/_imports.scss */
.add_bg {
  background: rgba(42, 103, 178, 0.9);
}

/* line 66, ../sass/_imports.scss */
.fp-tableCell {
  padding: 0;
}

/* line 8, ../sass/global.scss */
button.hamburger {
  position: fixed;
  z-index: 100;
  top: 15px;
  right: 20px;
  width: 40px;
  height: 40px;
  transition: .4s;
}
/* line 17, ../sass/global.scss */
button.hamburger:hover {
  padding-left: 0;
}
/* line 21, ../sass/global.scss */
button.hamburger span {
  width: 100%;
  height: 4px;
  background: #f7f7f7;
  display: block;
  margin: 5px 0;
}

/* line 30, ../sass/global.scss */
ul.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background: rgba(28, 69, 120, 0.98);
  width: 400px;
  height: 100%;
  padding: 50px 0 0;
  display: none;
}
/* line 41, ../sass/global.scss */
ul.menu button {
  padding: 0;
  margin: 0;
  font-size: 3em;
  color: #aad4ef;
  width: 100%;
}
/* line 49, ../sass/global.scss */
ul.menu button:hover {
  color: #f7f7f7;
  background: #16355d;
}
/* line 55, ../sass/global.scss */
ul.menu li {
  margin: 0;
  text-align: center;
}
/* line 60, ../sass/global.scss */
ul.menu a {
  color: #aad4ef;
  font-size: 1.25em;
  transition: .4s;
  display: block;
  width: 100%;
  height: 60px;
  padding: 15px 0 0;
}
/* line 69, ../sass/global.scss */
ul.menu a:hover {
  color: #f7f7f7;
  background: #16355d;
}

/* line 79, ../sass/global.scss */
.intro {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
/* line 84, ../sass/global.scss */
.intro .logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 160px;
  height: auto;
  z-index: 10;
  transition: .4s;
}
/* line 93, ../sass/global.scss */
.intro .logo img {
  max-width: 100%;
  max-height: 100%;
}
/* line 99, ../sass/global.scss */
.intro .ff_video {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* line 105, ../sass/global.scss */
.intro .ff_video .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../img/dashed_pattern_50.png");
  top: 0;
  left: 0;
  z-index: 2;
}
/* line 115, ../sass/global.scss */
.intro .ff_video video {
  width: 100%;
  background-size: cover;
  margin: 0;
  padding: 0;
}

/* line 128, ../sass/global.scss */
.svarigi {
  padding: 0;
  height: 100vh;
  background: url("../img/sample_roof.jpg") no-repeat;
  background-size: cover;
}
/* line 134, ../sass/global.scss */
.svarigi .fade_in {
  opacity: 1;
  transform: translateX(0px);
}
/* line 139, ../sass/global.scss */
.svarigi .content_left {
  width: 28%;
  height: 100vh;
  padding: 10% 50px 0;
  background: rgba(42, 103, 178, 0.9);
}
/* line 146, ../sass/global.scss */
.svarigi p {
  text-align: justify;
  color: #f7f7f7;
  font-size: 1em;
  margin-bottom: 30px;
  opacity: 0;
  transition: .4s;
  transform: translateX(-50px);
}
/* line 155, ../sass/global.scss */
.svarigi p::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid #f7f7f7;
  margin-right: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 168, ../sass/global.scss */
.svarigi h1 {
  color: white;
  margin: 0 0 50px;
}

/* line 178, ../sass/global.scss */
.pakalpojumi {
  padding: 0;
  background: url("../img/sample_pakalpojumi.jpg");
  background-size: cover;
  position: relative;
}
/* line 184, ../sass/global.scss */
.pakalpojumi .content_middle {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  transition: 1s;
  padding: 20px 0;
}
/* line 196, ../sass/global.scss */
.pakalpojumi .content_middle h2 {
  width: 40%;
  font-size: 1em;
  margin: 0 auto 50px;
}
/* line 202, ../sass/global.scss */
.pakalpojumi .content_middle .pakalpojumi_cell {
  width: 200px;
  height: 200px;
  margin: 20px;
  transition: .4s;
  position: relative;
  display: inline-block;
}
/* line 212, ../sass/global.scss */
.pakalpojumi .content_middle .pakalpojumi_cell p {
  width: 100%;
  padding: 0 10px;
  top: 80px;
  font-size: 1.25em;
  text-align: center;
  position: absolute;
  z-index: 5;
}
/* line 222, ../sass/global.scss */
.pakalpojumi .content_middle .pakalpojumi_cell .pakalpojumi_img {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
/* line 229, ../sass/global.scss */
.pakalpojumi .content_middle .pakalpojumi_cell .pakalpojumi_img video,
.pakalpojumi .content_middle .pakalpojumi_cell .pakalpojumi_img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  border: 3px solid #f7f7f7;
}
/* line 240, ../sass/global.scss */
.pakalpojumi .content_middle .pakalpojumi_cell .pakalpojumi_img video {
  z-index: 2;
}
/* line 244, ../sass/global.scss */
.pakalpojumi .content_middle .pakalpojumi_cell .pakalpojumi_img img {
  z-index: 1;
}

/* line 259, ../sass/global.scss */
.kontakti .footer_overlay {
  background: rgba(42, 103, 178, 0.9);
  position: absolute;
  text-align: left;
  width: 400px;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 80px 0 0 30px;
  transition: .6s;
}
/* line 271, ../sass/global.scss */
.kontakti .footer_overlay h2 {
  font-size: 1.25em;
  color: #f7f7f7;
  text-align: left;
}
/* line 276, ../sass/global.scss */
.kontakti .footer_overlay h2:first-of-type {
  margin-top: 50px;
}
/* line 280, ../sass/global.scss */
.kontakti .footer_overlay h2 span {
  font-size: .75em;
  color: #aad4ef;
  display: inline-block;
  width: 100px;
}
/* line 288, ../sass/global.scss */
.kontakti .footer_overlay div.fb {
  margin: 150px auto 0;
}
/* line 292, ../sass/global.scss */
.kontakti .footer_overlay footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #2A67B2;
}
/* line 299, ../sass/global.scss */
.kontakti .footer_overlay footer p {
  text-align: center;
  margin: 5px 0;
}
/* line 306, ../sass/global.scss */
.kontakti .footer_map {
  width: 100%;
}
/* line 309, ../sass/global.scss */
.kontakti .footer_map #google_map {
  width: 100%;
  height: 100vh;
}
